.filter__container {
  position: relative;
  top: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.job__filter__container {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 900px;
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.job__filter__container > h2 {
  text-align: center;
}

.filter__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.job__type {
  display: flex;
  flex-direction: column;
  color: #001a3b;
}

.job__type .search__input > input {
  height: 60px;
  width: 350px;
  padding-left: 20px;
  border: 1px solid #1c6ea4;
  outline: none;
}

.search__input {
  position: relative;
  display: flex;
  align-items: center;
}

.search__icon {
  position: absolute;
  right: 5px;
}

.job__location .search__input > input:focus,
.job__type .search__input > input:focus {
  border-color: darkturquoise;
  transition: border-color 2s;
}

.job__location {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  color: #001a3b;
}
.job__location .search__input > input {
  height: 60px;
  width: 350px;
  padding-left: 20px;
  border: 1px solid #1c6ea4;
  outline: none;
}

.search__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 59px;
  width: 150px;
  margin-left: 10px;
  margin-top: 25px;
  background: #001a3b;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.search__btn:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.search__btn svg {
  margin-left: 5px;
}

.browse__container {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 610px;
  cursor: pointer;
  color: #001a3b;
}

.browse__container > a {
  color: #001a3b;
}

.browse__container > a:hover {
  color: darkturquoise;
}

.browse__container:hover {
  color: darkturquoise;
}

@media only screen and (max-width: 900px) {
  .filter__wrapper {
    flex-direction: column;
  }
  .job__filter__container {
    width: 400px;
  }
  .browse__container {
    margin: 0 0 10px 10px;
  }
  .container {
    margin-top: 20px;
  }
}

.dataResult {
  margin-top: 5px;
  width: 300px;
  height: 200px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
  padding-left: 10px;
}

.dataResult::-webkit-scrollbar {
  display: none;
}

.dataResult .data__item {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: #000;
}

.data__item .link__background {
  margin-left: 10px;
  height: 40px;
  width: 100%;
}

.data__item .link__background a {
  text-decoration: none;
  color: #000;
  margin-left: 10px;
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.data__item .link__background a:hover {
  background-color: #001a3b;
  border-radius: 50px 0px 0px 50px;
  -webkit-border-radius: 50px 0px 0px 50px;
  -moz-border-radius: 50px 0px 0px 50px;
  color: white;
}

#clear__btn {
  cursor: pointer;
}
